.app {
  font-family: 'play';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app>h1 {
  margin: 0;
  font-size: 5rem;
  letter-spacing: 0.125rem;
}

.app>p {
  letter-spacing: 0.25rem;
}

.app>img{
  border-radius: 15rem;
}